{% extends 'layout.html.twig' %}

{% block title 'Dicephrase' %}

{% block page_id 'home' %}

{% block content %}
<div class="span6">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <fieldset>

            <legend>Enter your dice rolls</legend>

            <div class="control-group">
                {{ form_errors(form.roll1) }}
                {{ form_label(form.roll1) }}
                <div class="controls">
                    {{ form_widget(form.roll1) }}
                </div>
            </div>

            <div class="control-group">
                {{ form_errors(form.roll2) }}
                {{ form_label(form.roll2) }}
                <div class="controls">
                    {{ form_widget(form.roll2) }}
                </div>
            </div>

            <div class="form-actions">
                {{ form_widget(form.generate, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </fieldset>
    {{ form_end(form) }}
</div>
{% endblock %}
